// Features SCSS FILE
.features_section {
  //   border: 1px solid red;
  width: 90%;
  margin: auto;
  background-color: rgb(244 245 247);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.box_feature {
  border-width: 3px;
  // border-style: solid;
  // border-image: linear-gradient(to right, #33cc33 0%, #00cc66 100%);
  // border-image-slice: 1;
  // border-image-repeat: stretch;
  padding: 20px;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 25px;

  p {
    color: grey;
  }
}

// IMG ADJUST THE IMG SIZE
.img_feature {
  width: 100px;
  //   background-color: red;
}

@media only screen and (max-width: 1200px) {
  .features_section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .box_feature {
    width: 100%;
    align-items: center;
  }
}
