// SCSS FILE MAIN SLIDER

.main_slider {
  // border: 1px solid black;
  margin-top: 15px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.split_container_intro {
  // border: 1px solid orange;
  margin-top: 25px;
  height: 80vh;
  width: 90%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.bank_intro {
  // border: 1px solid red;
  width: 80%;
  max-height: 200px;
  height: 150px;
  padding: 10px;

  display: flex;
  // align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  h1 {
    font-weight: 500;
    font-size: 30px;
  }

  p {
    color: grey;
  }
}

.headline_div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.intro_slider {
  //   border: 1px solid gold;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

// HEADLINE INTRO
.headline_intro {
  //   border: 1px solid red;
  align-self: flex-start;

  h1 {
    font-size: 60px;
    color: rgb(78, 72, 72);
    font-weight: 600;
  }
}
// PARA INTRO
.para_intro {
  //   border: 1px solid red;
  align-self: flex-start;
  padding: 5px;

  p {
    color: grey;
    font-size: 17px;
    font-weight: 300;
    line-height: 23px;
  }
}

// intro_button
.intro_button {
  //   border: 1px solid red;
  align-self: flex-start;

  button {
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    font-weight: 700;
    width: 160px;
    height: 45px;
    font-size: 15px;
    background: linear-gradient(to right, #339966 13%, #33cc33 76%);
    // background: linear-gradient(to right, #33cc33 0%, #00cc66 100%);
  }
}

.split_container_template {
  // border: 1px solid red;
  height: 120vh;
  position: relative;
  overflow: hidden;
}

.img_desk_one {
  position: absolute;
  width: 200px;
  left: 40px;
  width: 165%;
  height: 100%;
  object-fit: cover;
  left: -9%;
  bottom: 20%;
}

.phones_template {
  z-index: 999999;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

@media only screen and (max-width: 1200px) {
  .main_slider {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .split_container_intro {
    // border: 1px solid red;
    width: 100%;
  }

  .split_container_template {
    display: none;
  }

  .bank_intro {
    gap: 15px;
    padding: 0;
    margin-bottom: 25px;

    h1 {
      font-weight: 200;
    }
  }

  .headline_div {
    gap: 5px;
  }

  .arrow_icon {
    display: none;
  }

  .intro_slider {
    gap: 15px;
  }
}
